HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified


# Optional: Access Control List (ACL) - Default is 'public-read'
AWS_ACL=public-read

# Optional: Signed URL Expiration Time (in seconds) - Default is 15 minutes (900 seconds)
AWS_SIGNED_URL_EXPIRES=900